<% provide(:title, 'About') %>

<div class="hero-unit">
  <h1>About This App</h1>
  <h2 class="lead">Organize your cellar</h2>
</div>

<p class="lead">This app is intended to help with the following:</p>

<ul>
  <li>organizing and tracking wines in your cellar</li>
  <li>rating wines you have tried in the past so you can remember them in the future</li>
  <li>rate other liquors you have tried so you can remember what to purchase next time</li>
</ul>

<p><small>This application was writtin in Ruby on Rails 3.2.8 running on Postgresql 9.2</small></p>
