<% provide(:title, 'Help') %>

<div class="jumbotron">
  <h1>Help</h1>
  <h2 class="lead">Organizing your cellar</h2>
</div>

<p>The intended purpose of this site is to allow you to keep track of your bottles of wine including: </p>
<ul>
  <li> bottles you have not drank (consumed) yet </li>
  <li> and to rate those you have already enjoyed.</li>
</ul>



<ul>
  <li>
    Assign a unique 
      <abbr title="Bottle Identifier" class="initialism">id</abbr> 
    to each bottle.  Make sure each and every bottle id is unique so that it can be identified from every 
    past, present or future bottle you will ever have.  I started with the number "1" and
    sequentailly number each new bottle that I store in the cellar. 
  </li>
</ul>
