<% provide(:title, 'Home') %>


<div class="center hero-unit">
  <h1>Welcome to Degas</h1>

  <h2>
    Organize your cellar. Rate your tasting experiences.  <p>Port, champagne, liquors and wine.</p>
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
