<% provide(:title, 'Remeber to rate this item') %>
<div class="hero-unit hero-unit-bottle-index">
  <h1>
  	Remember to Rate This Item
  </h1>
</div>


<%= render 'form' %>

<%= link_to 'Back', rating_pipelines_path %>
