            <div class="row">
              <div class="col-md-8">
                <button class="btn btn-primary btn-block" type="submit">
                  <span class="glyphicon glyphicon-search"></span>Search
                </button>
                <!-- %= f.submit "Update List", class: "btn btn-primary btn-block", id: "cellarListSearch", type: "button"% -->
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <%= link_to bottles_path, class: "btn btn-default btn-block" do %>
                  <span class="glyphicon glyphicon-remove"></span>Clear
                <% end %>
              </div>
            </div>
