        <div class="row">
          <div class="col-md-10">
            <div class="form-group">
              <label>Other Search Options</label>
              <div class="row">
                <div class="col-md-6">
                  <label class="checkbox-inline">
                    <%# if params[:q]%>
                    <%# (params[:q] && params[:q][:available_true]) ? checkedStatus = true : checkedStatus = false %>
                    <%# logger.debug "******************** params[:q] found. #{params.inspect}" if params[:q] %>
                    <%# logger.debug "******************** params[:q][:available_true]." if params[:q][:available_true] %>
                    <%= f.check_box :available_true, checked: true %>Show Only Available Bottles
                  </label>
                </div>
                <div class="col-md-6">
                  <label class="checkbox-inline">
                    <%# (params[:q] && params[:q][:is_for_rating_only_true]) ? checkedStatus = true : checkedStatus = false %>
                    <%= f.check_box :is_for_rating_only_true, checked: false %>Include Rating Only Bottles
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
