  <div class="row-fluid">
   <div class="span5 offset1">
     <%= link_to toc_by_winery[0], bottles_path("q"=>{"winery_name_cont"=>toc_by_winery[0], "available_true"=>"1"}) %>
   </div>
   <div class="span6">
     <%= toc_by_winery[1].to_s %>
   </div>
 </div>
 
 
 
