 <div class="row-fluid">
   <div class="span2 offset1">
     <%= toc_by_location[0][0].to_s %>
   </div>
   <div class="span2 offset1">
     <%= toc_by_location[0][1] %>
   </div>
   <div class="span2 offset1">
     <%= toc_by_location[0][2] %>
   </div>
   <div class="span2 offset 1">
     <%= toc_by_location[1] %>
   </div>
 </div>