<% provide(:title, 'Grape Ratings') %>

<div class="jumbotron">
  <h1>Rating by Grape</h1>
</div>

<hr />

<div class="ratings" id="rating_by_winery">
  <% create_recursive_html(@rating_collapsable_hash) %>
</div>