<% provide(:title, 'Bottle Ratings') %>

<div class="ratings" id="rating_by_bottle">
  <p class="lead">Ratings By Bottle</p>
    
  <div class="row-fluid">            <!-- heading row start -->
    <h2>
    <div class="span9" >Bottle</div>
    <div class="pull-right" >Average Rating</div>
    </h2>
  </div>                             <!-- heading row end --> 
    
  <%= render partial: 'rating_by_bottle', collection: @rating_by_bottle %>

</div>