<% provide(:title, 'Bottle Ratings') %>

<div class="jumbotron">
  <h1>Rating By Bottle</h1>
</div>

<hr />

<div class="ratings" id="rating_by_bottle">
  <p class="lead">Ratings By Bottle</p>
    
  <div class="row">            <!-- heading row start -->
    <h2>
    <div class="col-md-6" >Bottle</div>
    <div class="col-md-3"><div class="pull-right" >Average Rating</div></div>
    </h2>
  </div>                             <!-- heading row end --> 
    
  <%= render partial: 'rating_by_bottle', collection: @rating_by_bottle %>

</div>