<% provide(:title, 'Cellar Table of Contents') %>

<div class="hero-unit hero-unit-bottle-index">
  <h1>Cellar Table of Contents</h1>
</div>
<hr />

<div class="tableoc" id="toc_by_grape">
  <p class="lead">Cellar Contents By Grape<p>
  <!-- %= render partial: 'toc_by_grape', collection: @toc_by_grapes % -->
  <% @v_html = format_collapsable_list(@toc_by_grapes, true, @toc_grape_search_data_key)%>
  <%= @v_html.html_safe %>
</div>

<div class="tableoc" id="toc_by_winery">
  <p class="lead">Cellar Contents By Winery<p>
  <%= render partial: 'toc_by_winery', collection: @toc_by_wineries %>
</div>

<div class="tableoc" id="toc_by_location">
  <p class="lead">Cellar Contents By Location<p>
  <!-- %= render partial: 'toc_by_location', collection: @toc_by_locations % -->
  <% @v_html = format_collapsable_list(@toc_by_locations, true, @toc_location_search_data_key)%>
  <%= @v_html.html_safe %>
</div>
