<% provide(:title, 'Cellar Table of Contents By Location') %>

<div class="hero-unit hero-unit-bottle-index">
  <h1>Cellar Table of Contents</h1>
  <h1>By Location</h1>
</div>
<hr />

<div class="tableoc" id="toc_by_location">
  <p class="lead">Cellar Contents By Location<p>
  <!-- %= render partial: 'toc_by_location', collection: @toc_by_locations % -->
  <%= @toc_by_locations_collapsable_list.html_safe %>
</div>