<% provide(:title, 'Cellar Table of Contents by Bottle Type') %>

<div class="jumbotron">
  <h1>Cellar Table of Contents</h1>
  <h1>By Bottle Type</h1>
</div>
<hr />

<div class="toc" id="toc_by_bottle_type">
    <% create_recursive_html(@toc_by_bottle_types_hash) %>
</div>