<% provide(:title, 'Cellar Table of Contents By Grape') %>

<div class="hero-unit hero-unit-bottle-index">
  <h1>Cellar Table of Contents </h1>
  <h1>By Grape</h1>
</div>
<hr />

<div class="tableoc" id="toc_by_grape">
  <p class="lead">Cellar Contents By Grape<p>
  <%= @toc_by_grapes_collapsable_list.html_safe %>
</div>