<% provide(:title, 'Cellar Table of Contents By Location') %>

<div class="jumbotron">
  <h1>Cellar Table of Contents</h1>
  <h1>By Location</h1>
</div>
<hr />

<div class="toc" id="toc_by_location">
  <% create_recursive_html(@toc_by_locations_hash) %>
</div>