<% provide(:title, 'Cellar Table of Contents By Grape') %>

<div class="jumbotron">
  <h1>Cellar Table of Contents </h1>
  <h1>By Grape</h1>
</div>
<hr />

<div class="toc" id="toc_by_grape">
  <% create_recursive_html(@toc_by_grapes_hash) %>
</div>


