<% provide(:title, 'Cellar Table of Contents By Winery') %>

<div class="jumbotron">
  <h1>Cellar Table of Contents</h1>
  <h1>By Winery</h1>
</div>
<hr />

<div class="toc" id="toc_by_winery">
  <% create_recursive_html(@toc_by_wineries_hash) %>
</div>