<% provide(:title, 'Cellar Table of Contents By Grape') %>

<div class="jumbotron">
  <h1>Cellar Table of Contents </h1>
  <h1>By Grape</h1>
</div>
<hr />

<div class="toc" id="toc_by_grape">
  <% @toc_by_grapes_array.each{ |a| %>
    <div class="row">
      <div class="col-md-<%= 11-a["level"]%> <% if a["level"]!=0 %> col-md-offset-<%= a["level"]%> <% end%>">
        <%= a["display_value"] %>
      </div>
    </div>
  <% } %>
</div>


