<% provide(:title, 'Cellar Table of Contents by Bottle Type') %>

<div class="hero-unit hero-unit-bottle-index">
  <h1>Cellar Table of Contents</h1>
  <h1>By Bottle Type</h1>
</div>
<hr />

<div class="tableoc" id="toc_by_bottle_type">
  <p class="lead">Cellar Contents By Bottle Type<p>
  <%= render partial: 'toc_by_bottle_type', collection: @toc_by_bottle_types %>
</div>