<% provide(:title, 'Winery Ratings') %>

<div class="hero-unit hero-unit-bottle-index">
  <h1>Rating by Winery</h1>
</div>

<hr />

<div class="ratings" id="rating_by_winery">
  <p class="lead">Ratings By Winery</p>

    
  <%= @rating_collapsable_list.html_safe %>

</div>