<div class="hero-unit">
  <h2>Bottles</h2>
</div>

<%= link_to "Showing All (toggle)", bottle_index_path(show_avail_next: true), id: 'toggle', remote: true %>

<table class="table table-hover" id='bottle'>
  <tr>
    <th><%= link_to "Bottle Number", sort: "bottle_id" %></th>
    <th><%= link_to "Grape", sort: "grapes.name" %></th>
  </tr>

  <%= render @bottles %>

</table>
