<div class="hero-unit">
  <h2>Bottles</h2>
</div>

<%= link_to "Showing All (toggle)", bottle_index_path(only_available: true), id: 'toggle', remote: true %>

<table class="table table-hover" id='bottle'>
  <tr>
    <th>Bottle Number</th>
    <th>Grape</th>
  </tr>

  <%= render @bottles %>

</table>
