<div class="hero-unit">
  <h2>Bottles</h2>
</div>

<%= link_to "Showing All (toggle)", bottle_index_path(show_avail_next: true), id: 'toggle', remote: true %>

<%= render partial: "bottle_header" %>


