$(function() {
  /* collapsing is now handled with Bootstrap CSS
  // Start off with everything hidden except for the outermost level.j
  // .hide() is a jQuery method
  $(".collapse-li").find(".collapse-li").hide();


  // Add a graphic for expanding and contracting a list
  $(".collapse-li").each(function(){
    if ($(this).find("ul").length > 0 ) {
      // $(this).find("div").first().prepend('<i class="icon-plus collapse-i"></i>');
      $(this).prepend('<div class="span1"><i class="icon-plus collapse-i"></i></div>');
    }
    else {
      $(this).prepend('<div class="span1"></div>')
    }
  });
  */
  
  // Add an event handler to each graphic to control the opening and closing of the list
  $(".collapse-btn").click(function() {
    console.log("Clicked on a collapse button!");
    console.log($(this).children("span:first").toggleClass("glyphicon-chevron-down"));
    console.log($(this).children("span:first").toggleClass("glyphicon-chevron-up"));
  });

  
  //Add an event handler to each row to create highlighting when hovered
  $(".dataline").hover(
    function() {
      $(this).siblings(".dataval").css('background-color', 'lightgray');
      $(this).css('background-color', 'lightgray');
    },
    function() {
      $(this).siblings(".dataval").css('background-color', 'transparent');
      $(this).css('background-color', 'transparent');
    }
  );

});