$(function() {
  $(".collapse-li").find(".collapse-li").hide();
  // $(".collapse-li").prepend('<i class="icon-plus"></i>');
  $(".collapse-li").each(function(){
    if ($(this).find("ul").length > 0 ) {
      // $(this).find("div").first().prepend('<i class="icon-plus collapse-i"></i>');
      $(this).prepend('<div class="span1"><i class="icon-plus collapse-i"></i></div>');
    }
  });
  $(".collapse-i").click(function() {
    if ($(this).parent().parent(".collapse-li").find("ul").first().children("li").is(":hidden")) {
      $(this).parent().parent(".collapse-li").find("i").first().removeClass("icon-plus").addClass("icon-minus");
      $(this).parent().parent(".collapse-li").find("ul").first().children("li").show("slow");
      // return false;
    }
    else {
      $(this).parent().parent().find(".collapse-li").slideUp("slow");
      $(this).parent().parent().find("i").removeClass("icon-minus").addClass("icon-plus");
      // return false;
    }
  });
});