@import "bootstrap";
@import "bootstrap-responsive";

/* ********************************************** */
/* For starrating and thumbratings on all screens */
/* ********************************************** */
.rstarRate {overflow: hidden;}
.rstarRate ul {margin-left: 0; display: inline;}
.rstarRate li {list-style: none; display: inline;}
.rstarRate li a {display: block; width: 16px; height: 16px; background: image_url("star_rate.gif") left top; float: left; text-indent: -9999px;}
.rstarRate a {background-position: 0px;}
.rstarRate li a.copperStar {background-position: 0px -32px;}
.rstarRate li a.goldStar {background-position: 0px -16px;}

.rthumbRate {overflow: hidden;}
.rthumbRate ul {margin-left: 0; display: inline;}
.rthumbRate li {list-style: none; display: inline;}
.rthumbRate li.thumbRateUp a {display: block; width: 20px; height: 20px; background: image_url("thumbs.gif") left top; float: left; text-indent: -9999px;}
.rthumbRate li.thumbRateDown  a {display: block; width: 20px; height: 20px; background: image_url("thumbs.gif") left top; float: left; text-indent: -9999px; background-position: -21px 0px; }
.rthumbRate li.thumbRateUp a.copperThumb   {background-position: 0px -20px;}
.rthumbRate li.thumbRateUp a.goldThumb     {background-position: 0px -40px;}
.rthumbRate li.thumbRateDown a.copperThumb {background-position: -20px -20px;}
.rthumbRate li.thumbRateDown a.goldThumb   {background-position: -20px -40px;}

@media (max-width: 480px) {
  .hero-unit h1  { font-size: 40%; }
//  h1, h2, h3, h4, h5, h6 {font-size: 40%;}
}

img {
  max-width: 100%;
}

/* ********************************************** */
/* Fix for iPhone dropdown navbar                 */
/* see https://github.com/twbs/bootstrap/issues/7968 */
/* ********************************************** */
.dropdown-backdrop {
  position: static;
}

/* ********************************************** */
/* Site-Wide                                      */
/* ********************************************** */
.footer {
  margin-top: 20px;
}

/* ********************************************** */
/* Home Page                                      */
/* ********************************************** */
.homeHero h1 {
  margin-bottom: 20px;
}
