@import "bootstrap";

/* -------------------------- */
/* mixins, variables, etc.    */
/* -------------------------- */

$grayMediumLight: #eaeaea;
$blueHeroBackground: #CEDEF4;
$yellowHeroBackground: #FFFF99;

/* -------------------------- */
/* universal settings         */
/* -------------------------- */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

hr {
  margin-top: 0px
}

/* -------------------------- */
/* typography                 */
/* -------------------------- */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: $grayLight;
}

h2-nobottom-margin {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* -------------------------- */
/* header                     */
/* -------------------------- */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* -------------------------- */
/* footer                     */
/* -------------------------- */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
}

footer a {
  color: $gray;
}  

footer a:hover { 
  color: $grayDarker;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* -------------------------- */
/* forms                      */
/* -------------------------- */
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

/* -------------------------- */
/* bottle index               */
/* -------------------------- */
.hero-unit-bottle-index {
  margin-top: 36px;
  background-color: #75B4FF;
}

.search-form{
  margin-bottom: 0px;
}

.search-inputs {
  margin-bottom: 8px;
}

.search-checkbox-dropdown{
  margin-bottom: 0px;
}

.search-dropdown{
  margin-left: 50px;
}

.search-checkbox-type {
  margin-right: 11px;
  margin-bottom: 7px;
}

.search-bottle-type-span {
  margin-top: 5px;
}

.search-bottle-type-label { 
  margin-right: 20px;
}

.bottle-title {
  color: DarkSlateGray;
  text-align: left;
  font-size: 1.7em;
  letter-spacing: -1px;
  font-weight: heavy;
}

.bottle-title-postfix {
  color: DarkSlateGray;
}

.starRate {overflow: hidden;}
.starRate ul {margin-left: 0; display: inline;}
.starRate li {list-style: none; display: inline;}
.starRate li a {display: block; width: 16px; height: 16px; background: image_url("star_rate.gif") left top; float: left; text-indent: -9999px;}
.starRate a {background-position: 0px;}
.starRate li a.copperStar {background-position: 0px -32px;}
.starRate li a.goldStar {background-position: 0px -16px;}

/* -------------------------- */
/* bottle new                 */
/* -------------------------- */
.bottle-type-select {
  margin-bottom: 14px;
}
.float-image{
  float:left;
}
/* -------------------------- */
/* confirm (multi-bottle add  */
/* -------------------------- */
.confirm-buttons {
  margin-top: 14px;
}
/* -------------------------- */
/* home                       */
/* -------------------------- */
.home h2 {
text-align: left;
}

